.main-banner-section {
    position: relative;
    .main-banner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100vh;
        .main-banner-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .copy-heading {
                margin-bottom: 48px;
                color: $cl-white;
                text-align: center;
        
                span {
                    font-weight: bold;
                    color: $cl-main;
                }
            }    
        }
    }
    
    .main-banner-background-video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }
}