@import "./config/reset.scss";
@import "./config/setting.scss";

@import "./components/scss/header.scss";
@import "./components/scss/footer.scss";

@import "./router/scss/maintenance.scss";

@import "./router/scss/home.scss";
@import "./router/scss/work.scss";
@import "./router/scss/client.scss";
@import "./router/scss/process.scss";

body {
    background: $cl-black;
}

img {
    display: block;
    width: 100%;
}

.page {
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}


.button  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 240px;
    padding: 12px 0;
    border-radius: 8px;
    box-shadow: 0px 8px 20px 5px #0002;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    transition: 0.3s ease;

    &:hover {
        i {
            right: 50px;
        }
        box-shadow: 0px 8px 20px 5px #0003;
        background: rgba(255, 255, 255, 0.7);
    }

    span {
        font-size: 14px;
        line-height: 20px;
        margin-right: 12px;
    }

    i {
        position: absolute;
        width: 18px;
        top: 13px;
        right: 54px;
        transition: 0.3s ease;
    }
}

.copy-heading {
    @include font-heading;
}

.copy-sub-heading {
    @include font-sub-heading;
}

.copy-body {
    @include font-body;
}